/* ------------------------------------- below is responsive css for screen below 359px resolution */
@media all and (max-width: 359px) {
  .to-do-icon {
    margin-right: 15px;
  }
}
/* ------------------------------------- above is responsive css for screen below 359px resolution */
/* ------------------------------------- below is responsive css for screen below 414px resolution */
@media all and (max-width: 414px) {
  /* User screen / table responsive below ============================= */
  .box-body table.new-table-design thead th:first-child {
    padding: 18px 20px;
    min-width: 414px;
  }

  .user-listing .box .box-header {
    margin-top: 20px !important;
  }
  .dataTables_wrapper {
    margin: 0 -30px;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before {
    margin-left: 20px;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child,
  table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {
    padding: 5px 0 0 55px;
  }
  .new-table-design .photo-in {
    margin-left: 0;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr.parent {
    background-color: transparent;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child {
    /* padding-bottom: 0 !important;
    padding-top: 0 !important;
    height: 50px;*/
    border-bottom: 0;
  }
  table.dataTable.dtr-inline.collapsed
    > tbody
    > tr.parent
    > td:first-child:before {
    /*top: 18px;*/
  }
  div.dataTables_wrapper div.dataTables_filter {
    margin: 0 20px 80px;
  }
  table.dataTable > tbody > tr.child td.child {
    padding-left: 55px !important;
  }
  .user-listing .box-header .btn {
    width: 100%;
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 1;
  }
  table.dataTable > tbody > tr.child ul.dtr-details li {
    border-bottom: 0;
  }
  table.dataTable > tbody > tr.child span.dtr-title {
    font-size: 12px;
    max-width: 100px;
  }
  .new-table-design tr.child span.dtr-data {
    font-weight: normal;
  }
  .new-table-design tr.child ul.dtr-details li {
    padding: 8px 0 !important;
    line-height: 1;
  }
  .new-table-design tr.child ul.dtr-details > li:first-child {
    padding-top: 15px !important;
  }
  .new-table-design tr.child ul.dtr-details > li:last-child {
    padding-bottom: 20px !important;
  }
  .table-hover > tbody > tr:hover td {
    background-color: #fafafa;
  }
  /* User screen / table responsive above ============================= */
  /* Notification responsive below ============================= */
  .notification-sidebar-full .content-box {
    max-width: 100%;
  }
  /* Notification responsive above ============================= */
}
/* ------------------------------------- above is responsive css for screen below 414px resolution */
/* ------------------------------------- below is responsive css for screen below 481px resolution */
@media all and (max-width: 480px) {
  /* login-in screen responsive below ============================= */
  .login {
    padding: 0;
    max-width: 100%;
    width: 100%;
  }
  .logo__icon {
    width: 187px;
  }
  .login .user {
    font-size: 16px;
    margin-bottom: 35px;
  }
  .login__logo {
    margin-bottom: 20px;
  }
  .login-in {
    border-radius: 0;
    padding: 50px 30px 40px;
  }
  .login-btn-wrapper {
    margin-bottom: 25px;
  }
  .login-in .login-seprator {
    margin-bottom: 25px;
  }
  .username-pwd-box {
    margin: 30px 0 25px;
  }
  .login-material label {
    line-height: 1;
  }
  .login__row {
    margin-bottom: 60px;
  }
  .login #loginButtton {
    margin-bottom: -20px;
  }
  .username-pwd-box .user-login-value {
    overflow: hidden;
    white-space: nowrap;
  }
  /* login-in screen responsive above ============================= */
  /* account screen responsive below ============================= */
  .profile .panel-heading {
    padding: 30px 25px;
  }
  /* account screen responsive above ============================= */
}
/* ------------------------------------- above is responsive css for screen below 481px resolution */
/* ------------------------------------- below is responsive css for screen below 768px resolution */
@media all and (max-width: 767px) {
  /* account screen responsive below ============================= */
  .content-header {
    padding: 35px 20px;
  }
  .profile.panel-group {
    margin-left: -20px;
    margin-right: -20px;
  }
  .profile .panel-collapse > div {
    padding-top: 25px;
  }
  .img-field {
    padding-bottom: 30px;
  }
  .data-fields {
    width: 100%;
    padding: 0;
  }
  .block-footer {
    margin: 16px -25px 0px;
    padding: 13px 25px;
  }
  .change-password .data-fields {
    width: 100%;
  }
  .login-img .img-field .photo-big {
    width: 140px;
    height: 140px;
    margin: 0;
  }
  .login-img .img-field .img-info {
    width: calc(100% - 140px);
  }
  /* account screen responsive above ============================= */
}
/* ------------------------------------- above is responsive css for screen below 768px resolution */
/* ------------------------------------- below is responsive css for screen below 910px resolution */
@media all and (max-width: 910px) {
  /* table responsive below ============================= */
  .status-badge {
    text-align: center;
  }
  .new-table-design tr.child span.dtr-data ul {
    padding: 0;
  }
  .new-table-design tr.child span.dtr-data ul li {
    justify-content: flex-start;
  }
  /* table responsive above ============================= */
}
/* ------------------------------------- above is responsive css for screen below 910px resolution */
/* ------------------------------------- general css below */
/* table responsive below ============================= */
.new-table-design tr.child span.dtr-data {
  text-align: left;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before {
  height: 13px;
  width: 13px;
  color: #2c3542;
  border-radius: 1px;
  line-height: 13px;
  font-size: 13px;
  background-color: #e7eced;
  top: 37px;
  display: none;
}
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr
  > td:first-child
  > .photo-in::before {
  height: 13px;
  width: 13px;
  color: #2c3542;
  border-radius: 1px;
  line-height: 13px;
  font-size: 13px;
  background-color: #e7eced;
  top: 0;
  content: "+";
  position: absolute;
  left: -26px;
  line-height: 13px;
  text-align: center;
  bottom: 0;
  font-family: "Courier New", Courier, monospace;
  margin: auto;
}
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > th:first-child:before {
  background-color: #e7eced;
}
.box-body table.new-table-design thead th {
  white-space: nowrap;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* table responsive above ============================= */
/* ------------------------------------- general css above */
